
ProyectoLenguajes/ProyectoLenguajes/Form1.cs
ProyectoLenguajes/ProyectoLenguajes/Crear_Cuenta.cs
ProyectoLenguajes/.vs/ProyectoLenguajes/FileContentIndex/056d265b-28a0-435f-8564-33e06eac0e72.vsidx
ProyectoLenguajes/.vs/ProyectoLenguajes/FileContentIndex/66b0b70d-6ac5-4191-85c7-f814ec65831b.vsidx
ProyectoLenguajes/.vs/ProyectoLenguajes/FileContentIndex/889c3b0f-bc5e-4a96-80f7-4a6a0f78fe7a.vsidx
